<h1 class="text-center font-roboto-mono">Editar Empréstimo</h1>


<div class="position-absolute top-0 start-0 mt-3 ms-3 font-roboto-mono">
  <%= link_to emprestimo_path, class: 'd-flex align-items-center link' do %>
    <i class="bi bi-arrow-return-left fs-3"></i>
    <span class="ms-2 fs-6">Voltar emprestimo</span> 
  <% end %>
</div>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="content w-100" style="max-width: 1600px;">
    <%= render "form", emprestimo: @emprestimo %>
  </div>
</div>