@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.padding-cadastrar {
  padding: 45px;
}

.padding-btn {
  padding: 20px;
}

.custom-btn {
  font-size: 0.9rem;
  padding: 7px 13px;
}

.table {
  width: 100%; 
  border-collapse: collapse; 
}

.table thead th {
  background-color: #E0DFDF;
  text-align: left;
  padding: 4px;
  font-size: 0.875rem;
  vertical-align: middle;
}

.table th, .table td {
  padding: 4px;
  font-size: 0.875rem;
  vertical-align: middle;
  text-align: left;
}

.table th {
  width: 10%; 
}

.table td {
  width: 10%; 
  background-color: #e0dfdf44;
  vertical-align: middle; 
  text-align: center;

}

.btn {
  font-family: 'Roboto Mono', monospace;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.h1 {
  font-family: 'Roboto Mono', monospace;
}

.btn-move-left {
  position: relative;
  right: 120px; 
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem; 
}

.btn-padded {
  padding: 10px 20px;
  margin-top: 1rem; 
}

.alert-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}