
@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');


.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}


.padding-cadastrar {
  padding: 45px;
}

.padding-btn {
  padding: 20px;
}

.custom-btn {
  font-size: 0.9rem;
  padding: 7px 13px;
}

.table {
  width: 100%; 
  border-collapse: collapse; 
}

.table thead th {
  background-color: #E0DFDF;
  text-align: left;
  padding: 4px;
  font-size: 0.875rem;
  vertical-align: middle;
}

.table th, .table td {
  padding: 4px;
  font-size: 0.875rem;
  vertical-align: middle;
  text-align: left;
}

.table th {
  width: 10%; 
}

.table td {
  width: 10%; 
  background-color: #e0dfdf44;
}

